#navbarTogglerDemo01{
}

.carousel {
    z-index: -1;
    /*width: 65%;
    height: 75%;*/
    position: absolute;
    top: 16%;
    left: 20%;
}

.fond_carousel {
    z-index: -1;
    width: 100%;
    height: 66.2%;
    position: absolute;
    left: 0;
    opacity: 0.4;
    background-color: black;
}

.slogan {
    padding-bottom: 3px;
    padding-top: 20px;
    color: white;
}

.feature_text {
    position: relative;
    left: 7%;
    font-size: x-large;
    padding-bottom: 3px;
    padding-top: 15px;
    color: white;
}

#Apropos_corps {
    background-color: white;
    z-index: 1;
}

#Presentation_corps {
    background-color: white;
    z-index: 1;
}